@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --white: #ffffff;
  --textColor: #6D6D6D;
  --zenithRed: #E32E2C;
  --zenithDarkRed: #831615;
  --zenithBlack: #444444;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

Link {
  font-family: 'Roboto, Arial, Helvetica, sans-serif';
  font-weight: 700;
  color: rgb(255, 0, 0);
  font-size: 11px;
  Line-height: 75px;
  font-style: normal;

}
/* Hero section Carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.details{
  margin-left: 2rem;
  text-align: left;
  color: white;
}
.image_text{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
