@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --white: #ffffff;
  --textColor: #6D6D6D;
  --zenithRed: #E32E2C;
  --zenithDarkRed: #831615;
  --zenithBlack: #444444;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Link {
  font-family: 'Roboto, Arial, Helvetica, sans-serif';
  font-weight: 700;
  color: rgb(255, 0, 0);
  font-size: 11px;
  Line-height: 75px;
  font-style: normal;

}
/* Hero section Carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.min_menu_link{
  color: rgb(221, 215, 215);
  border-bottom: 2px solid rgb(221, 215, 215);
  margin-right: 1rem;
}

.min_menu_link:hover{
  color: white;
  border-bottom: 2.3px solid white;
}
.mini_menu_content{
  display: flex;
  flex-direction: column;
}
.mini_menu_item{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.details{
  margin-left: 2rem;
  text-align: left;
  color: white;
}
.image_text{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.client_comment{
  border: 2px solid red;
  width: 16rem;
  padding: 1.5rem;
  border-radius: 7px;
  margin: 2rem;
  text-align: left;
}
.client_comment:hover{
  background-color: rgb(250, 249, 249);
  transition: background-color ease-in-out 1s ease-in-out 2s infinite ;
}