.join_wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    height: fit-content;
    background-image: url("/homepage-girl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    padding: .5rem .3rem;

    @media(max-width: 640px) {
        display: flex;
        height: fit-content;
        width: 100%;
        padding: 1rem .2rem;
    }
    @media(min-width: 640px) {
        height: fit-content;
        padding: 5rem 5%;
    }
}

.satisfying {
    color: rgb(68, 68, 68);
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;

    @media(max-width: 640px) {
        font-size: 1.4rem;
    }


}

.description {
    color: rgb(68, 68, 68);
    font-size: 1.4rem;

    @media(max-width: 768px) {
        font-size: 1.1rem;
    }
}

.join_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 48vw;
    justify-items: left;
    font-family: "Roboto" Arial, Helvetica, sans-serif;
    margin-right: 25vw;
    margin-left: 5vw;

    @media(max-width: 640px) {
        align-items: center;
        min-width: 100%;
        padding: 1rem 2rem;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }
}

.button {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

button {
    font-weight: 500;
    padding: .6rem;
    font-size: .9rem;
    
    @media(max-width: 640px) {
        font-size: .5rem;
        padding: .5rem;
    }
}