.review-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;


    @media(max-width: 640px) {
        /* padding: 0; */
        padding: 1rem
    }
}

.client_comment {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 95vw;

    @media(max-width: 640px) {
        flex-direction: column;
        width: 100vw;
    }
}

.client {
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
    width: 265px;
    border: 2px outset #f7f7f7;
    margin: 0;
    color: #545658;

    @media(max-width: 640px) {
        margin-top: 1rem;
    }
}

.client:hover {
    background-color: #f7f7f7;
    transition: background-color ease-in-out 1s ease-in-out 2s infinite;
    border: none;
    border: 1px solid rgba(211, 143, 143, 0.5);
    box-shadow: -1px 0px 31px -11px rgba(211, 143, 143, 0.5);
    -webkit-box-shadow: -1px 0px 31px -11px rgba(211, 143, 143, 0.5);
    -moz-box-shadow: -1px 0px 31px -11px rgba(211, 143, 143, 0.5);
}

.comment{
    font-family: "Roboto", Arial, Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(68, 68, 68);
    font-size: 15px;
    line-height: 20px;
    font-style: normal;
    letter-spacing: .2px;

    @media(max-width: 640px) {
        text-align: left;
    }

    @media(max-width: 768px) {}
}

.name{
    font-family: "Roboto", Arial, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(94, 89, 89);
    font-size: 16px;
    font-style: normal;  
}

.prof{
    font-family: "Roboto", Arial, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(94, 89, 89);
    font-size: 14px;
    font-style: normal;
}