.review-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    min-width: 100%;

    @media(max-width: 640px) {
        padding: 3rem 1rem
    }
}

h1 {
    padding-top: 3rem;

    @media(max-width: 640px) {
        padding-top: 1rem;
    }
}

.client_comment {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;

    @media(max-width: 640px) {
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
    }
}

.client {
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
    width: 265px;
    border: 2px outset #f7f7f7;
    margin-top: .5rem;
    color: #545658;
    
    @media(max-width: 640px) {
        max-width: 100vw;
    }
}

.client:hover {
    transition: background-color ease-in-out 1s ease-in-out 2s infinite;
}

.comment {
    font-family: "Roboto", Arial, Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(68, 68, 68);
    font-size: 15px;
    line-height: 20px;
    font-style: normal;
    letter-spacing: .2px;

    @media(max-width: 640px) {
        text-align: left;
    }

    @media(max-width: 768px) {}
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    color: #545658;
}
.name {
    font-family: "Roboto", Arial, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(94, 89, 89);
    font-size: 16px;
    font-style: normal;
}

.prof {
    font-family: "Roboto", Arial, Arial, Helvetica, sans-serif;
    color: rgb(94, 89, 89);
    font-size: 14px;
    font-style: normal;
}